@import './colors.module.scss';

.container {
  font-family: 'Roboto Mono', monospace;
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  font-family: 'Roboto Mono', monospace;
  flex: 1;
  margin-top: 20px;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.dark > footer * {
  color: white !important;
}

.logo {
  margin-left: 1rem;
  padding: 2px 6px;
  border-radius: 15px;
  background-color: #eaeaea;
}

.image-wrapper {
  grid-column: 1 / 5;
  grid-row: 1 / 5;
  margin-top: 12px;
  place-self: center;
  justify-self: center;
  border-radius: 5px;
  border: solid 1px #424542;
  width: 80%;
  // > div {
  //   position: unset;
  // }
  .image {
    object-fit: fill;
    place-self: center;
    border-radius: 5px;
    justify-self: center;
    width: 100% !important;
    // height: unset !important;
  }
}

.arrow {
  z-index: 11;
  grid-column: 1 / 13;
  grid-row: 9 / 11;
  align-self: start;
  justify-self: center;
  border-left: 0.5rem solid #cc00a3;
  border-bottom: 0.5rem solid #cc00a3;
  width: 2rem;
  height: 2rem;
  transform: rotate(-45deg);
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0) rotate(-45deg);
  }
  40% {
    transform: translateY(-30px) rotate(-45deg);
  }
  60% {
    transform: translateY(-15px) rotate(-45deg);
  }
}

.skills {
  z-index: 11;
  margin-top: -1rem;
  font-family: 'Roboto Mono', monospace;
  color: #fff;
}

.skills-container {
  display: grid;
}

.skills-container {
  margin-top: -1rem;
  z-index: 11;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 12px;
  width: 90%;
  justify-content: space-evenly;
  padding: 15px 0px;
}

.skills-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 102px;
  width: 102px;
  border-radius: 15px;
  background-color: #eee;
  box-shadow: 5px 2px 5px #3494e6;
}

.skills-card:hover {
  box-shadow: 8px 4px 8px #ec6ead;
  background-color: #fafafa;
}

.projects-container {
  display: flex;
  font-family: 'Roboto Mono', monospace;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 12px;
  width: 90%;
  padding: 15px 0px;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 350px;
  height: 250px;
  background-color: #eee;
  color: black;
  margin: 12px 12px;
  padding: 2px 12px;
  border-radius: 5px;
  box-shadow: 5px 2px 5px #3494e6;
}

.project-pic {
  border-radius: 5px;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80%;
  padding: 15px 0px;
}

.contact-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  height: 142px;
  width: 142px;
  border-radius: 50%;
  box-shadow: 5px 2px 5px #3494e6;
}

.contact-card:hover,
.contact-card:focus {
  background-color: #fafafa;
  box-shadow: 7px 4px 7px #ec6ead;
  outline: none;
}

.hero-grid {
  display: grid;
  z-index: 13;
  min-height: max-content;
  height: 90vh;
  padding-top: 12px;
  margin-bottom: -4rem;
  gap: 12px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.div-image {
  position: absolute;
  width: 30vw;
  height: 40vh;
  top: 12vh;
  left: 1.25rem;
}

.hero-image {
  border-radius: 5px;
  left: -120px;
}

.slanted-div {
  background-color: #0000cc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  height: fit-content;
  position: relative;
  width: 100%;
  padding: 15rem 0;
  clip-path: polygon(0 0, 100% 25%, 100% 100%, 0 75%);
  -webkit-cclip-path: polygon(0 25%, 100% 0, 100% 75%, 0% 100%);
}

// Experimental text box css

.text-box {
  border: solid 1px #424542;
  border-radius: 5px;
  box-shadow: 1px 1px #e7dfe7, -1px -1px #e7dfe7, 1px -1px #e7dfe7,
    -1px 1px #e7dfe7, 0 -2px #9c9a9c, -2px 0 #7b757b, 0 2px #424542;
  background-color: #0000cc;
  background: -moz-linear-gradient(top, #04009d 0%, #06004d 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #04009d),
    color-stop(100%, #06004d)
  );
  background: -webkit-linear-gradient(top, #04009d 0%, #06004d 100%);
  background: -o-linear-gradient(top, #04009d 0%, #06004d 100%);
  background: -ms-linear-gradient(top, #04009d 0%, #06004d 100%);
  background: linear-gradient(to bottom, #04009d 0%, #06004d 100%);
  padding: 5px 10px;
  margin: 5px 15px;
}

.text-box-header {
  display: flex;
  justify-content: space-between;
}

.text-box * {
  color: #eff1ff;
  font-family: Verdana, sans-serif;
  text-shadow: 2px 2px #212421, 1px 1px #212021;
  font-weight: normal;
}

.text-box h1 p {
  margin: 2px 5px;
  padding: 2px 5px;
}

.h2 {
  font-family: Verdana, sans-serif;
}

.text-box-1 {
  @extend .text-box;
  grid-column: 5 / 11;
  margin-top: 1rem;
}

.text-box-1 * {
  font-size: 1.25rem;
}

.text-box-1 h1 {
  margin-bottom: -12px;
}

.text-box-2 {
  @extend .text-box;
  grid-column: 8 / 12;
  margin-top: 1rem;
}

.text-box-2 * {
  font-size: 1rem;
}

.text-box-2 h1 {
  margin-bottom: -12px;
}

@media only screen and (max-width: 550px) {
  .div-image {
    margin-top: 4rem;
  }
  .text-box-1 {
    margin-top: 1rem;
    grid-column: 5 / 13;
  }
  .text-box-1 * {
    font-size: 1rem;
  }

  .text-box-2 {
    margin-top: 1rem;
    margin-left: -3rem;
    grid-column: 1 / 12;
  }
  .text-box-2 * {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 550px) and (max-width: 750px) {
  .div-image {
    margin-top: 1rem;
  }
  .text-box-1 {
    grid-column: 5 / 13;
    margin-top: 2rem;
  }

  .text-box-2 {
    grid-column: 3 / 12;
    margin-top: 2rem;
    margin-left: -2rem;
  }
}

@media only screen and (min-width: 750px) and (max-width: 790px) {
  .text-box-2 {
    grid-column: 4 / 10;
  }
}

@media only screen and (max-width: 1000px) {
  .text-box-2 {
    grid-column: 5 / 13;
  }
}
